<% provide(:title, @organizer.name) %>
<div class="row">
  <h1><%= @organizer.name %></h1>
  <% if logged_in? %>
    <ul class="navbar-nav navbar-admin ml-auto">
        <li class="nav-item">
          <%= link_to edit_organizer_path, title: 'Изменить организатора' do %>
            <%= material_icon.mode_edit.md_36 %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to @organizer, method: :delete, title: 'Удалить организатора', data: { confirm: 'Вы уверены?' }  do %>
            <%= material_icon.delete.md_36 %>
          <% end %>
        </li>
    </ul>
  <% end %> 
</div>
<div class="container">  
  <div class="card event-desc col-md-12">
    <%= @organizer.description %>
  </div>  
  <div class="card-group event-card row">
    <div class="card event-info col-md-6">
      <h2>Организованные мероприятия: </h2>
      <% @events.each do |event| %>
        <h5><%= event.name %></h5>
      <% end  %>
    </div>
  </div>
</div>