<div class="row">
  <div class="event-form col-md-6 col-md-offset-3">
    <%= form_for @event, html: { multipart: true } do |f| %>
      <%= render 'shared/error_messages', object: @event %>

      <%= f.label 'Название' %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label 'Город' %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label 'Адрес' %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label 'Дата и время' %>
      <%= f.datetime_select :date, class: 'form-control' %>

      <%= f.label 'Организатор' %>
      <span class="row">
        <%= f.collection_select :organizer_id, Organizer.all, :id, :name, class: 'form-control' %>
        <%= link_to '/organizers/new', title: 'Добавить нового организатора' do %>
              <%= material_icon.people.md_36 %>
        <% end %>
      </span>

      <%= f.label 'Описание' %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label 'Ссылка' %>
      <%= f.text_field :link, class: 'form-control' %>

      <%= f.label 'Изображение' %>
      <%= f.file_field :event_image %>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>

    <% end %>
  </div>
</div>