<% provide(:title, @event.name) %>
<div class="row">
<h1><%= @event.name %></h1>
<% if logged_in? %>
    <ul class="navbar-nav navbar-admin ml-auto">
      <li class="nav-item">
        <%= link_to edit_event_path, title: 'Изменить мероприятие' do %>
          <%= material_icon.mode_edit.md_36 %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to @event, method: :delete, title: 'Удалить мероприятие', data: { confirm: 'Вы уверены?' }  do %>
          <%= material_icon.delete.md_36 %>
        <% end %>
      </li>
    </ul>
<% end %>   
</div>
<div class="card-group event-card row">
  <div class="card event-img col-md-6">
    <%= image_tag @event.event_image.url(:medium) %>
  </div>
  <div class="card event-info col-md-6">
    <div class="block-info event-date">  
    <%= material_icon.date_range.md_36 %><span><%= l(@event.date, format: '%d %A %Y, %-H:%M') %></span>
    </div>
    <div class="block-info event-address">
    <%= material_icon.place.md_36 %><span><%= @event.region %>, <%= @event.city %>, <%= @event.address %></span>
    </div>
    <div class="block-info event-link"> 
    <%= material_icon.link.md_36 %><span><%= link_to @event.link, @event.link, target: '_blank' %></span>
    </div>
    <div class="block-info event-organizer">
      <%= material_icon.face.md_36 %><span><%= link_to @organizer.name, @organizer %></span>
    </div>
    <%= link_to 'Скачать ICS', ics_path_url, class: 'btn btn-dark'%>
  </div>
</div>
<div class="card event-desc col-md-12">
  <%= @event.description %>
</div>  