<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Не забудьте о мероприятии <strong><%= @event.name %></strong></h1>
    <p>
      Дата проведения: <strong><%= @event.date %></strong><br>
      Место проведения: <%= @event.city %>, <%= @event.address %>
    </p>
    <p>
      <%= link_to @url, @url %>
    </p>
  </body>
</html>