<header>
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary top">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= material_icon.event.md_36%>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to "Мероприятия", events_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Организаторы", organizers_path, class: "nav-link" %>
                </li>
            </ul>
            <% if logged_in? %>
            <ul class="navbar-nav navbar-greeting ml-auto">
                <span class="greeting">Привет, Админ!</span>
                <li class="nav-item">
                    <%= link_to "Выйти", logout_path, method: :delete, class: "btn btn-info" %>
                </li>
            </ul>
            <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-primary bg-light bottom">
         <div class="collapse navbar-collapse navbarBottom">
            <ul class="navbar-nav container">
                <li class="nav-item">
                    <%= link_to "Прошедшие", past_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Предстоящие", upcoming_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%# collection_select :post, :region, Event.pluck(:region).uniq, :to_s, :to_s, prompt: 'Регион', class: 'form-control' %>
                </li>
                <li class="nav-item">
                <%= form_tag(filter_path, method: :post, class:'form-inline') do %>    
                    <%= collection_select nil, :city, Event.pluck(:city).uniq.sort, :to_s, :to_s, {prompt: 'Город'}, {class: 'form-control'} %>
                    <%# collection_select nil, :month, I18n.t('date.month_names').drop(1).zip(1..12), :to_s, :to_s, prompt: 'Месяц', class: 'form-control' %>
                    <%= select_tag(:month, options_for_select(I18n.t('date.month_names').drop(1).zip(1..12)), prompt: 'Месяц', class: 'form-control')  %>
                    <%= collection_select nil, :organizer_id, Organizer.all, :id, :name, {prompt: 'Организатор'}, {class: 'form-control'} %>
                    <%= button_tag(type: "submit", class: "btn btn-primary") do %>Найти<% end %>
                <% end  %>
                </li>
            </ul>
        </div>
    </nav>
</header>